<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>维护页系统</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="padding-top: 2%">

    <div class="row">
        <div class="span12">
            <p class="lead">
                <strong>说明: </strong><em>维护页面系统</em>自定义维护页面的系统，通过<strong> nginx + lua </strong>根据不同规则返回不同的JSON
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="alert alert-error">
                <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
                <strong>警告!</strong> 更改完策略使其生效需要重启nginx
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <blockquote>
                <p>
                    用户体验不可忽视.
                </p>
                <small>运维部 <cite>ALL</cite></small>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <table class="table table-condensed table-striped table-hover">
                <tr class="info">
                    <th>域名</th>
                    <th>返回结果</th>
                    <th>备注</th>
                    <th>方法</th>
                    <th>编辑</th>
                    <th>操作</th>
                </tr>
                {{ range .table }}
                <tr>
                    <td>{{.Host}}</td>
                    <td>{{.Result}}</td>
                    <td>{{.Ps}}</td>
                    <td>{{.Method}}</td>
                    <td><a href="{{urlfor "MainController.Edit" ":id" .Id}}" class="btn btn-xs btn-primary">编辑</a></td>
                    <td><a href="{{urlfor "MainController.Del" ":id" .Id}}" class="btn btn-xs btn-danger"  onclick="return confirm('确定将此记录删除?')">删除</a></td>
                    <!--<td><a href="/" class="btn btn-xs btn-danger">删除</a></td>-->
                </tr>
                {{end}}
            </table>
            <a href="/logout" class="btn btn-warning">退出登录</a>
            <a href="/add" class="btn  btn-success">添加策略</a>
        </div>
    </div>

</div>
</body>
</html>